// ATTRIBUTE OPTION (SINGLE & MULTIPLE)
.attribute-option {
  // background-color: map-get($core-demo, alpha);
  margin-bottom: 6px;

  &:hover {
  }

  // [children] -------------------------  .

  // ATTRIBUTE PANEL.
  .attribute-item {
    // background-color: map-get($core-demo, alpha);
    cursor: grab;
    height: 48px;
    margin-bottom: 5px;
    min-height: 48px;
    padding-left: 40px;
    position: relative;
    width: 100%;

    // DRAG HANDLE
    ::ng-deep .attr-drag-indicator {
      background-color: #ccc;
      border-right: 1px solid #b1b1b1;
      height: 50px;
      left: 0;
      position: absolute;
      width: 25px;

      .mat-icon {
        color: #a8a8a8;
        font-size: 20px;
        position: absolute;
        top: 35%;
      }
    }

    // SECTION: NAME & PLACEHOLDER
    ::ng-deep .attr-sec-title {
      padding-left: 0px;
      padding-top: 10px;
      width: 225px;

      // ATTRIBUTE NAME
      .attr-name {
        color: #2c2c2c;
        font-size: 18px;
      }

      // ATTRIBUTE PLACEHOLDER.
      .attr-placeholder {
        color: #a3a3a3;
        font-size: 12px;
      }
    }

    // SECTION: ACTION BUTTONS & CHECKBOX
    ::ng-deep .attr-sec-actions {
      position: absolute;
      right: 0;

      // SECTION: SETTINGS
      .setting-display {
        // background-color: rgba(0, 255, 255, 0.15);
        font-size: 9px;
        font-weight: 100;
        height: 50px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        width: 125px;

        &:last-child {
          box-shadow: 15px 0px 20px #cccccc;
        }

        // DISPLAY VALUES
        .setting-value {
          align-content: center;
          font-size: 14px;
          font-weight: 400;
          justify-content: center;
          left: 0;
          position: absolute;
          text-align: center;
          top: 15px;
          width: 100%;
        }

        // SETTING TITLE.
        .setting-title {
          bottom: 3px;
          color: #a0a0a0;
          font-size: 8px;
          font-weight: 400;
          position: absolute;
          width: 100%;
        }

        // DISPLAY CHECKBOX OUTLINE.
        .checkbox-outline {
          position: absolute;
          top: 10px;
          width: 100%;
          z-index: 1;
        }
        // DISPLAY CHECKBOX CHECKBOX.
        .display-checkbox {
          position: absolute;
          top: 10px;
          width: 100%;
          z-index: 5;
        }
      } // [end] 'setting-display'

      // ACTION BUTTONS
      .attr-action-button {
        background-color: #f3f3f3;
        border-left: 1px solid #dddddd;
        padding: 5px 0 0 0;
        width: 50px;
      }
    } // [end] 'attr-sec-actions'
  } // [end] 'attribute-item'

  // [expansion panel] -------------------  .
  .mat-expansion-panel {
    border-radius: 0;
    box-shadow: none;

    .mat-expansion-panel-header {
      // background-color: map-get($core-demo, alpha);
      padding: 0;
    }
  }

  // EXPANSION PANEL
  .attr-expansion-panel {
    box-shadow: none;
    margin-bottom: 5px;

    &:first-of-type {
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
    }
    &:last-of-type {
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
    }

    .mat-expansion-panel-header {
      height: 75px;
      padding: 0;
    }
  }
} // [end] ATTRIBUTE OPTION (SINGLE & MULTIPLE)
