// ATTRIBUTE OPTION (SINGLE & MULTIPLE)
.attribute-option {
  // background-color: map-get($core-demo, alpha);
  margin-bottom: 6px;

  &:hover {
  }

  // [children] -------------------------  .

  // ATTRIBUTE PANEL.
  .attribute-item {
    // background-color: map-get($core-demo, alpha);
    cursor: grab;
    height: 48px;
    margin-bottom: 5px;
    min-height: 48px;
    padding-left: 40px;
    position: relative;
    width: 100%;

    // DRAG HANDLE
    ::ng-deep .attr-drag-indicator {
      background-color: #ccc;
      border-right: 1px solid #b1b1b1;
      height: inherit;
      left: 0;
      position: absolute;
      width: 25px;

      .mat-icon {
        color: #a8a8a8;
        position: absolute;
        top: 35%;
      }
    }

    // SECTION: NAME & PLACEHOLDER
    ::ng-deep .attr-sec-title {
      padding-left: 40px;
      padding-top: 20px;
      width: 225px;

      // ATTRIBUTE NAME
      .attr-name {
        color: $color-2C;
        font-size: 18px;
      }

      // ATTRIBUTE PLACEHOLDER.
      .attr-placeholder {
        color: $color-A3;
        font-size: 12px;
      }
    }
  }

  // [expansion panel] -------------------  .
  .mat-expansion-panel {
    border-radius: 0;
    box-shadow: none;

    .mat-expansion-panel-header {
      // background-color: map-get($core-demo, alpha);
      padding: 0;
    }
  }

  // EXPANSION PANEL
  .attr-expansion-panel {
    box-shadow: none;
    margin-bottom: 5px;

    &:first-of-type {
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
    }
    &:last-of-type {
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
    }

    .mat-expansion-panel-header {
      height: 75px;
      padding: 0;
    }
  }
} // [end] ATTRIBUTE OPTION (SINGLE & MULTIPLE)
