.esb-attr-grid {
  // HEADER.
  #attribute-header {
    ::ng-deep app-attr-header {
      background-color: #fff;
      border-bottom: 2px solid #ddd;
      height: 100%;
      overflow: hidden;
      width: 100%;
    }
  }

  // SIDEBAR.
  #attribute-sidebar {
    ::ng-deep app-attr-sidebar {
      background-color: aqua;
      height: 100%;
      width: 100%;
    }
  }

  // CANVAS.
  #attribute-canvas {
    ::ng-deep app-attr-canvas {
      height: 100%;
      padding-bottom: 10px;
      padding-top: 10px;
      width: 100%;
    }
  }

  // FOOTER.
  #attribute-footer {
    ::ng-deep app-attr-footer {
      border-top: 1px solid #ddd;
      height: 100%;
      width: 100%;
    }
  }
}
