<mat-grid-list class="esb-attr-grid" cols="4" rowHeight="50px">
  <mat-grid-tile id="attribute-header" colspan="4" rowspan="1">
    <app-attr-header></app-attr-header>
  </mat-grid-tile>
  <mat-grid-tile id="attribute-sidebar" colspan="1" rowspan="8">
    <app-attr-sidebar></app-attr-sidebar>
  </mat-grid-tile>
  <mat-grid-tile id="attribute-canvas" colspan="3" rowspan="8">
    <app-attr-canvas></app-attr-canvas>
  </mat-grid-tile>
  <mat-grid-tile id="attribute-footer" colspan="4" rowspan="3">
    <app-attr-footer></app-attr-footer>
  </mat-grid-tile>
</mat-grid-list>