.attr-canvas-container {
  background-color: rgb(236, 236, 236);
  height: inherit;
  overflow-y: scroll;
  padding: 5px;
}

// ATTRIBUTE PANEL.
.attribute-panel {
  background-color: #fff;
  cursor: grab;
  height: 75px;
  margin-bottom: 5px;
  min-height: 75px;
  padding-left: 40px;
  position: relative;
}

// EXPANSION PANEL
.mat-accordion {
  .mat-expansion-panel {
    margin-bottom: 5px;

    &:first-of-type {
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
    }
    &:last-of-type {
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
    }

    .mat-expansion-panel-header {
      height: 75px;
      padding: 0;

      ::ng-deep .mat-content {
        height: inherit;
        padding-left: 43px;
      }
    }
  }
}



// SECTION: NAME & PLACEHOLDER
.attr-sec-title {
  padding-top: 20px;
  width: 225px;

  .attr-name {
    color: #2c2c2c;
    font-size: 18px;
  }

  // PLACEHOLDER.
  .attr-placeholder {
    color: #a3a3a3;
    font-size: 12px;
  }
}

// SECTION: ACTION BUTTONS & CHECKBOX
.attr-sec-actions {
  position: absolute;
  right: 0;
}
// SECTIONS (GLOBAL)
.attr-sec-required,
.attr-sec-charges-menu,
.attr-sec-charges-menu,
.attr-sec-charges,
.attr-sec-edit,
.attr-sec-delete {
  background-color: transparent;
  font-size: 11px;
  font-weight: 100;
  height: 60px;
  padding: 15px 0 0 0;
  text-align: center;
  text-transform: uppercase;
  width: 75px;
}

/*
  DISPLAY CHECKED
  Static display to indicate if the option is checked or unchecked
  */
.attr-display-checked {
  font-size: 9px;
  height: 35px;
  padding: 40px 0 0 0;
  position: relative;

  .checkbox-outline {
    left: 0;
    position: absolute;
    top: 10px;
    width: inherit;
  }

  .display-checkbox {
    display: none;
    left: 0;
    position: absolute;
    top: 10px;
    width: inherit;
  }
  .display-no-checkbox {
    display: block;
  }
}

// CDK.
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
