<!--
APPLICATION NAME GOES HERE
Author: 'me@elwoodberry.com'
This code is brought to you by Elwood Berry @www.elwoodberry.com 
-->

<div class="attr-canvas-container" cdkDropList (cdkDropListDropped)="drop($event)">

  <div *ngFor="let attribute of Attributes" [ngSwitch]="attrType" class="attribute-class">
    <div *ngSwitchCase="single">I am a single attribute</div>
    <div *ngSwitchCase="multiple">I am a multiple attribute</div>
  </div><!-- [end] -->

  <!-- <div class="attr- attr-expansion-panel" cdkDrag>
    <app-attr-item [attribute.]="" [attribute.]="" [attribute.]="" [attribute.]="" [attribute.]="" [attribute.]=""
      [attribute.]="" [attribute.]="" [attribute.]="" [attribute.]=""></app-attr-item>
  </div> -->

  <!-- 
  <mat-expansion-panel class="attr-expansion-panel" hideToggle cdkDrag>
    <mat-expansion-panel-header>

      <app-attr-item></app-attr-item>
      
      <div class="" *cdkDragPlaceholder></div>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel> -->

  <!-- <ng-container *ngTemplateOutlet="tmplStaticSingleAttr"></ng-container> -->
  <!-- <ng-container *ngTemplateOutlet="tmplStaticMultipleOptionAttr"></ng-container> -->
  <!-- <mat-accordion *ngFor="let attribute of esbAttributes" cdkDrag></mat-accordion> -->
  <!-- <div class="attribute-panel" *ngFor="let attribute of esbAttributes" cdkDrag></div> -->
  <!-- CONTAINER:EXPANSION PANEL - MULTI SELECTION -->

</div>


<!-- SINGLE ITEM -->
<ng-template #tmplStaticSingleAttr>
  <div>
    <app-attr-item></app-attr-item>
  </div>
</ng-template>


<!-- MULTI SELECTION: EXPANSION PANEL -->
<ng-template #tmplStaticMultipleOptionAttr>
  <mat-accordion *ngFor="let attribute of esbAttributes" cdkDrag>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>

        <app-attr-item></app-attr-item>

        <div class="" *cdkDragPlaceholder></div>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
  </mat-accordion>
</ng-template>