<!--
APPLICATION NAME GOES HERE
Author: 'me@elwoodberry.com'
This code is brought to you by Elwood Berry @www.elwoodberry.com 
-->

<div class="attr-canvas-container" cdkDropList (cdkDropListDropped)="drop($event)">

  <!-- <ng-container *ngTemplateOutlet="tmplStaticSingleAttr"></ng-container>
  <ng-container *ngTemplateOutlet="tmplStaticMultipleOptionAttr"></ng-container> -->

  <!-- <mat-accordion *ngFor="let attribute of esbAttributes" cdkDrag></mat-accordion> -->

  <!-- <div class="attribute-panel" *ngFor="let attribute of esbAttributes" cdkDrag></div> -->






  <!-- 
  CONTAINER:EXPANSION PANEL - MULTI SELECTION
-->



</div>






<!-- 
  TEMPLATE: EXPANSION PANEL - MULTI SELECTION
-->
<ng-template #tmplStaticSingleAttr>
  <div class="attribute-panel" *ngFor="let attribute of esbAttributes" cdkDrag>
    <h1>I Am The Static Option Attribute</h1>
  </div>
</ng-template>


<ng-template #tmplStaticMultipleOptionAttr>
  <h1>I Am The Multiple Option Attribute</h1>
</ng-template>