.attr-canvas-container {
  background-color: rgb(236, 236, 236);
  height: inherit;
  overflow-y: scroll;
  padding: 5px;
}

.attribute-panel {
  background-color: #fff;
  height: 75px;
  margin-bottom: 5px;
  min-height: 75px;
}
