/*
APPLICATION NAME GOES HERE
Author: 'me@elwoodberry.com'
This code is brought to you by Elwood Berry @www.elwoodberry.com 
*/

// VARIABLES.
$color-FFF: #ffffff;
$color-CCC: #cccccc;
$color-B1: #b1b1b1;
$color-A8: #a8a8a8;
$color-A3: #a3a3a3;
$color-2C: #2c2c2c;

// -------------------------------------
:host {
  background-color: $color-FFF;
  height: 75px;
  position: relative;
  width: 100%;
}

// DRAG HANDLE
.attr-drag-indicator {
  background-color: $color-CCC;
  border-right: 1px solid $color-B1;
  height: inherit;
  left: 0;
  position: absolute;
  width: 25px;

  .mat-icon {
    color: $color-A8;
    position: absolute;
    top: 35%;
  }
}

// SECTION: NAME & PLACEHOLDER
.attr-sec-title {
  padding-top: 20px;
  width: 225px;

  .attr-name {
    color: $color-2C;
    font-size: 18px;
  }

  // PLACEHOLDER.
  .attr-placeholder {
    color: $color-A3;
    font-size: 12px;
  }
}

// SECTION: ACTION BUTTONS & CHECKBOX
.attr-sec-actions {
  background-color: #ff0;
  position: absolute;
  right: 0;
}

// SECTIONS (GLOBAL)
.attr-sec-required,
.attr-sec-charges-menu,
.attr-sec-charges-menu,
.attr-sec-charges,
.attr-sec-edit,
.attr-sec-delete {
  background-color: transparent;
  font-size: 11px;
  font-weight: 100;
  height: 60px;
  padding: 15px 0 0 0;
  text-align: center;
  text-transform: uppercase;
  width: 75px;
}

/*
DISPLAY CHECKED
Static display to indicate if the option is checked or unchecked
*/
.attr-display-checked {
  font-size: 9px;
  height: 35px;
  padding: 40px 0 0 0;
  position: relative;

  .checkbox-outline {
    left: 0;
    position: absolute;
    top: 10px;
    width: inherit;
  }

  .display-checkbox {
    display: none;
    left: 0;
    position: absolute;
    top: 10px;
    width: inherit;
  }
  .display-no-checkbox {
    display: block;
  }
}

/*
SETTINGS
*/
.setting-display {
  font-size: 9px;
  font-weight: 100;
  height: 35px;
  padding: 40px 0 0 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 100px;

  &:nth-last-child(even) {
    background-color: rgb(0, 153, 255);
  }
  &:nth-last-child(odd) {
    background-color: aqua;
  }
}
.setting-value {
  font-size: 14px;
  font-weight: 400;
  left: 0;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 100%;
}
.setting-title {
}
