<!-- DRAG HANDLE -->
<div class="attr-drag-indicator">
  <mat-icon aria-hidden="false" aria-label="Drag handle for THIS attribute">drag_indicator</mat-icon>
</div>

<!-- TITLE -->
<div class="attr-sec-title" fxLayout="column" fxFlex="35%">

  <div class="attr-name">
    Name Goes Here
    <!-- {{ attribute.name }} -->
  </div>

  <div class="attr-placeholder">
    Placeholder Goes Here
    <!-- {{ attribute.placeholder }} -->
  </div>

</div>

<div class="attr-sec-actions" fxLayout="row" fxFlex="65%">

  <!-- TYPE ('Flat', 'Run') -->
  <div class="setting-display" fxLayout="column">
    <div class="setting-value">Flat</div>
    <div class="setting-title">Type</div>
  </div>

  <!-- COST (number) -->
  <div class="setting-display" fxLayout="column">
    <div class="setting-value" fxLayout="row">
      <span class="currency-symbol">$</span> <span class="currency-value">1,000,000</span>
    </div>
    <div class="">Cost</div>
  </div>

  <!-- PRICE (number) -->
  <div class="setting-display" fxLayout="column">
    <div class="setting-value" fxLayout="row">
      <span class="currency-symbol">$</span> <span class="currency-value">1,000,000</span>
    </div>
    <div class="">Price</div>
  </div>

  <!-- LABOR (number) -->
  <div class="setting-display" fxLayout="column">
    <div class="setting-value" fxLayout="row">
      <span class="currency-symbol">$</span> <span class="currency-value">1,000,000</span>
    </div>
    <div class="">Labor</div>
  </div>

  <!-- TIME (number) -->
  <div class="setting-display" fxLayout="column">
    <div class="setting-value" fxLayout="row">
      <span class="currency-symbol">$</span> <span class="currency-value">1,000,000</span>
    </div>
    <div class="">Time</div>
  </div>

  <!-- REQUIRED? -->
  <div class="setting-display" fxLayout="column">
    <mat-icon class="checkbox-outline">check_box_outline_blank</mat-icon>
    <mat-icon class="display-checkbox" [ngClass]="{ 'display-no-checkbox' : true }">check_box</mat-icon>
    <div class="">Required</div>
  </div>

  <!-- VISIBLE TO CUSTOMERS -->
  <div class="setting-display" fxLayout="column">
    <mat-icon class="checkbox-outline">check_box_outline_blank</mat-icon>
    <mat-icon class="display-checkbox" [ngClass]="{ 'display-no-checkbox' : false }">check_box</mat-icon>
    <div class="">visible to customers</div>
  </div>

  <!-- VISIBLE TO VENDORS -->
  <div class="setting-display" fxLayout="column">
    <mat-icon class="checkbox-outline">check_box_outline_blank</mat-icon>
    <mat-icon class="display-checkbox" [ngClass]="{ 'display-no-checkbox' : true }">check_box</mat-icon>
    <div class="">visible to vendors</div>
  </div>

  <!-- 
    // ACTIONS ---------------------------------------
  -->

  <!-- CHARGES FOR THIS ATTRIBUTE -->
  <!-- <div class="attr-sec-charges">
    <button mat-icon-button aria-label="Click here to edit chrages for THIS attribute." (click)="openDialog()">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div> -->

  <!-- EDIT THIS ATTRIBUTE -->
  <div class="attr-sec-edit">
    <button mat-icon-button aria-label="Click here to edit THIS attribute.">
      <mat-icon>edit</mat-icon>
    </button>
  </div>

  <!-- DELETE THIS ATTRIBUTE -->
  <div class="attr-sec-delete">
    <button mat-icon-button aria-label="Click here to begin the deletion process for THIS attribute.">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

</div>